<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-thumbnail slot="start">
      <img src="../../assets/easyApp-logo.svg" />
    </ion-thumbnail>
    <ion-title color="secondary" class="ion-text-center">Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-item color="dark">
              <ion-label position="floating"
                ><ion-text color="primary">First Name</ion-text></ion-label
              >
              <ion-input formControlName="firstName" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item color="dark">
              <ion-label position="floating"
                ><ion-text color="primary">Last Name</ion-text></ion-label
              >
              <ion-input formControlName="lastName" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item color="dark">
              <ion-label position="floating"
                ><ion-text color="primary">Username</ion-text></ion-label
              >
              <ion-input formControlName="username" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item color="dark">
              <ion-label position="floating"
                ><ion-text color="primary">E-mail</ion-text></ion-label
              >
              <ion-input formControlName="email" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item color="dark">
              <ion-label position="floating"
                ><ion-text color="primary">Password</ion-text></ion-label
              >
              <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item color="dark">
              <ion-label position="floating"
                ><ion-text color="primary"
                  >Enter Password Again</ion-text
                ></ion-label
              >
              <ion-input
                formControlName="repassword"
                type="password"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-radio-group formControlName="accountType">
              <ion-list-header>
                <ion-label color="primary">Account Type</ion-label>
              </ion-list-header>
              <ion-item color="dark">
                <ion-label color="primary">Professional</ion-label>
                <ion-radio
                  slot="start"
                  color="tertiary"
                  [value]="accountTypes[0]"
                ></ion-radio>
              </ion-item>

              <ion-item color="dark">
                <ion-label color="primary">Customer</ion-label>
                <ion-radio
                  slot="start"
                  color="tertiary"
                  [value]="accountTypes[1]"
                ></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="form.value.accountType === accountTypes[0]">
          <ion-col size="12">
            <ion-item color="dark">
              <ion-label position="floating"
                ><ion-text color="primary"
                  >Select Your Profession</ion-text
                ></ion-label
              >
              <ion-input formControlName="profession" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-button
              block
              color="primary"
              type="submit"
              [disabled]="invalidForm"
            >
              Sign Up
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
