<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-thumbnail slot="start">
      <img src="../../assets/easyApp-logo.svg" />
    </ion-thumbnail>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title color="secondary" class="ion-text-center"
      >EasyAppointments</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
  <div id="container">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-button
            color="primary"
            size="large"
            (click)="onSignIn()"
            fill="solid"
            shape="round"
            expand="full"
          >
            Sign In
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button
            color="primary"
            size="large"
            routerLink="/signup"
            (click)="onSignUp()"
            fill="solid"
            shape="round"
            expand="full"
          >
            Sign Up
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
