<ion-tabs>
  <ion-tab-bar color="dark" slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="findprof">
      <ion-icon name="search"></ion-icon>
      <ion-label>Find Professionist</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="favprof">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favourites</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
